<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse de sentiment</title>
    <link href="{{ url_for('static',filename='styles/nous.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dacaccb093.js" crossorigin="anonymous"></script>
</head>
<body>
  <center>Cette page est en cours de construction</center>

</body>
</html>