<!DOCTYPE html>
<html>
  <head>
    <title>Analyseur de Sentiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="nous_contacter.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dacaccb093.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
        <ul class="navbar-menu">
          <li class="navbar-item logo">
            <a href="#" class="navbar-link">
              <span class="navbar-title">Menu</span>
              <i class="fas fa-chevron-right navbar-icon"></i>
            </a>
          </li>
          <li class="navbar-item">
            <a href="index.html" class="navbar-link">
              <i class="fas fa-home navbar-icon"></i>
              <span class="navbar-title">Accueil</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="bert.html" class="navbar-link">
              <i class="fas fa-solid fa-cheese navbar-icon"></i>
              <span class="navbar-title">CamenBERT</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="TF-IDF.html" class="navbar-link">
              <i class="fas fa-solid fa-robot navbar-icon"></i>
              <span class="navbar-title">TF-IDF</span>
            </a>
          </li>
          </li>
          <li class="navbar-item">
            <a href="fasttext.html" class="navbar-link">
              <i class="fas fa-solid fa-bolt navbar-icon"></i>
              <span class="navbar-title">FastText</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="method.html" class="navbar-link">
              <i class="fas fa-solid fa-person-chalkboard navbar-icon"></i>
              <span class="navbar-title">Méthodologie</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="nous.html" class="navbar-link">
              <i class="fas fa-solid fa-people-group navbar-icon"></i>
              <span class="navbar-title">Nous</span>
            </a>
          </li>
  
          <li class="navbar-item">
            <a href="nous_contacter.html" class="navbar-link">
              <i class="fas fa-phone navbar-icon"></i>
              <span class="navbar-title">Nous contacter</span>
            </a>
          </li>
        </ul>
      </nav>
      <main>
        <section id="contact">
            <div class="container">
            <div>
                <h6>Une question ? Un conseil ?</h6>
                <h3>Contactez-nous</h3>
            </div>
            <form action="#" method="post">
                <input type="text" name="name" placeholder="Entrez votre nom..." required="">
                <input type="email" name="email" placeholder="Entrez votre email..." required="">
                <input type="text" name="subject" placeholder="Entrez Le Sujet..." required="">
                <input type="text" name="number" placeholder="Entrez votre numéro de téléphone..." required="">
                <textarea name="message" placehorlder="Entrez votre message"></textarea>
                <button type="submit">Envoyer</button>
            </form>
            </div>
        </section>
      </main>

  </body>
</html>